<div class="home-container">
    <!-- Header -->
    <div class="header">
    
    </div>

    <!-- Menú de opciones -->
    <div class="menu-grid">

        <button class="menu-button" (click)="navigateTo('client')">
            <img src="assets/images/Cliente.png" alt="Clientes" />
            <span>Clientes</span>
        </button>

        <button class="menu-button" (click)="navigateTo('supplier')">
            <img src="assets/images/Proveedores.png" alt="Proveedores" />
            <span>Proveedores</span>
        </button>

        <button class="menu-button" (click)="navigateTo('category')">
            <img src="assets/images/Vendedor.png" alt="Vendedores" />
            <span>Vendedores</span>
        </button>

        <button class="menu-button" (click)="navigateTo('product')">
            <img src="assets/images/Inventario.png" alt="Productos" />
            <span>Productos</span>
        </button>

        <button class="menu-button" (click)="navigateTo('facturar')">
            <img src="assets/images/Imprimir.png" alt="Facturar" />
            <span>Facturar</span>
        </button>

        <button class="menu-button" (click)="navigateTo('kardex')">
            <img src="assets/images/Kardex.png" alt="Kardex" />
            <span>Kardex</span>
        </button>

        <button class="menu-button" (click)="navigateTo('compras')">
            <img src="assets/images/Compras.png" alt="compras" />
            <span>Compras</span>
        </button>

        <button class="menu-button" (click)="navigateTo('inventarios')">
            <img src="assets/images/Inventarios.jpg" alt="inventarios" />
            <span>Inventarios</span>
        </button>

        <button class="menu-button" (click)="navigateTo('devoluciones')">
            <img src="assets/images/Reporte.png" alt="devoluciones" />
            <span>Devoluciones</span>
        </button>

        <button class="menu-button" (click)="navigateTo('usuarios')">
            <img src="assets/images/User.png" alt="usuarios" />
            <span>Usuarios</span>
        </button>

        <button class="menu-button" (click)="navigateTo('utilidades')">
            <img src="assets/images/Utilidades.png" alt="utilidades" />
            <span>Utilidades</span>
        </button>

        <button class="menu-button" (click)="navigateTo('reportes')">
            <img src="assets/images/ConsultaInvent.png" alt="reportes" />
            <span>Reportes</span>
        </button>

        <button class="menu-button" (click)="navigateTo('bajas')">
            <img src="assets/images/Bajas.png" alt="bajas" />
            <span>Bajas</span>
        </button>

        <button class="menu-button" (click)="navigateTo('verificador')">
            <img src="assets/images/Base.png" alt="verificador" />
            <span>Verificador de Precios</span>
        </button>

        <button class="menu-button" (click)="navigateTo('cotizacion')">
            <img src="assets/images/Cotizacion.png" alt="cotizacion" />
            <span>Cotización</span>
        </button>

        <button class="menu-button" (click)="navigateTo('facturarElec')">
            <img src="assets/images/Imprimir.png" alt="facturarElec" />
            <span>Factura Electronica</span>
        </button>

        <button class="menu-button" (click)="navigateTo('facturar-pos')">
            <img src="assets/images/Pos.png" alt="P.O.S." />
            <span>P.O.S. Electrónico</span>
        </button>

    </div>
    <br>
    <div class="text-container">
        <h1 class="align-right">Bienvenido, Walter Ortiz</h1>
    </div>
      
</div>
