table {
    width: 100%;
}

ul li {
    list-style: none;
}

.alinear {
    text-align: center;
    margin-top: 20px;
}

.right{
    margin-left: auto;
}

mat-form-field{
    width: 140%;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1){
    flex: 0 0 6%;
}

/* Contenedor de la barra de búsqueda */
.search-container {
    display: flex; /* Asegura un diseño flexible */
    justify-content: flex-start; /* Alinea los elementos al inicio (izquierda) */
    align-items: center; /* Alineación vertical */
    padding: 10px 0; /* Añade un poco de espaciado */
    flex-grow: 1; /* La barra de búsqueda ocupa el espacio restante */
  }
  
  /* Estilos para la barra de búsqueda */
  .search-bar {
    width: 80%; /* Permite que el ancho sea flexible */
    max-width: 300px; /* Define un límite de ancho */
    padding-left: 30px;
  }
  
  .search-bar mat-form-field {
    background: #f5f5f5; /* Fondo claro */
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
  }
  
  .search-bar mat-icon {
    color: #666; /* Color del icono */
    margin-right: 8px; /* Separación del texto */
  }
  
  .search-bar input {
    font-size: 16px; /* Tamaño del texto */
    color: #333; /* Color del texto */
  }
  
  .search-bar input::placeholder {
    color: #aaa; /* Color del placeholder */
    font-style: italic; /* Placeholder en cursiva */
  }

  .button-group {
    display: flex; /* Alinea los botones horizontalmente */
    gap: 20px; /* Espacio horizontal entre los botones */
  }
  
  .button-with-text {
    display: flex;
    flex-direction: column; /* Coloca el texto debajo del icono */
    align-items: center;
    cursor: pointer;
    border: none;
    background: none;
    transition: transform 0.3s, font-size 0.3s;
  }
  
  .add-client-icon {
    width: 80px;
    height: 80px;
    transition: transform 0.3s;
    padding-right: 80px;
  }
  
  .button-with-text span {
    font-size: 14px;
    color: #000; /* Cambia el color según sea necesario */
    margin-top: -2px; /* Espacio entre el icono y el texto */
    padding-right: 80px;
  }
  
  .button-with-text:hover .add-client-icon {
    transform: scale(1.2); /* Aumenta el tamaño del icono al pasar el mouse */
  }
  
  .button-with-text:hover span {
    font-size: 16px; /* Aumenta el tamaño del texto al pasar el mouse */
    color: #007bff; /* Cambia el color del texto al pasar el mouse */
  }

  .action-container {
    display: flex; /* Flexbox para alinear los elementos en fila */
    align-items: center; /* Alinea verticalmente */
    justify-content: space-between; /* Espaciado entre búsqueda y botones */   
  }